{% extends 'layout.html' %}

{% block title %}

  Garden - Chart Test
  
{% endblock %}

{% block header %}

  <h1>This is a header</h1>

{% endblock %}


{% block content %}
  
    <div class="wrapper">
        <h1>Title</h1>
        <h2>Description</h2>      
      </div>
      <div class="chart-container" style="position: relative; height:40vh; width:80vw">
          <canvas id="myChart" width="800" height="400"></canvas>
      </div>
  
      
      <script>

        var labels = {{ labels  | safe }};
        var values = {{values}};
        var measuretype = {{measuretype | safe}};
        
        
        console.log(values[2])
        console.log(labels[2])
        console.log(measuretype[2])
        console.log(typeof(measuretype[2]))

        var plotData = [];
        var plotTemp = [];
        var plotMoisture = [];

        for (var i=0; i < values.length; i++) {
          var mtype = measuretype[i];
          if (mtype.startsWith("temp")){
            plotData.push({'x': labels[i], 'y': values[i]});
          }
          else if (mtype.startsWith("moisture")){
            plotMoisture.push({'x': labels[i], 'y': values[i]});
          }
        }        
        console.log(plotData)
        console.log(plotMoisture)

        var ctx = document.getElementById("myChart");

        var myChart = new Chart(ctx, {
          type: {{ chartType | safe }},
          data: {
            labels : {{ labels | safe }},
            datasets: [
              { 
              data: plotData,
              label: "Temperature",
              borderColor: "#2980B9",
              fill: false,
              yAxisID: '1',
              lineTension: 0
              }
              ,
              { 
              data: plotMoisture,
              label: "Moisture",
              borderColor: "#111111",
              fill: false,
              yAxisID: '2',
              lineTension: 0
              
            }
            ]
          },
          options: {
            responsive: true,
            
            title:      {
                display: true,
                text:    "Chart.js Time Scale"
            },
            scales:     {
                xAxes: [{
                    type:       "time",
                    time:       {
                
                        tooltipFormat: 'll'
                    },
                    scaleLabel: {
                        display:     true,
                        labelString: 'Time'
                    }
                }]
                ,
                yAxes: [{
                display: true,
                labelString: 'Temperature',
                id: '1',
                type: 'linear',
                position: 'left'
                }, {
                display: true,
                labelString: 'Moisture',
                id: '2',
                type: 'linear',
                position: 'right'
                }]
              }


            }
          });

      </script>


{% endblock %}