{% extends 'layout.html' %}

{% block title %}

  Garden - Chart Test
  
{% endblock %}

{% block header %}

  <h1>This is a header</h1>

{% endblock %}


{% block content %}
  
    <div class="wrapper">
        <h1>Title</h1>
        <h2>Description</h2>      
      </div>
      <div class="chart-container" style="position: relative; height:40vh; width:80vw">
          <canvas id="myChart" width="800" height="400"></canvas>
      </div>
  
      
      <script>

        var labels = {{ labels  | safe }};
        var values = {{values}};
       
        var plotData = [];
        for (var i=0; i < values.length; i++) {
          plotData.push({'x': labels[i], 'y': values[i]});
        }        
        console.log(plotData)

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
          type: {{ chartType | safe }},
          data: {
            labels : {{ labels | safe }},
            datasets: [
              { 
              data: plotData,
                    //africa, 
                    //{{values}}
              label: "Temperature",
              borderColor: "#2980B9",
              fill: false,
              lineTension: 0
            
            }/*
            ,
            { 
              data: asia,
              label: "Asia",
              borderColor: "#C0392B",
              fill: false
            }*/
            ]
          },
          options: {
            responsive: true,
            
            title:      {
                display: true,
                text:    "Chart.js Time Scale"
            },
            scales:     {
                xAxes: [{
                    type:       "time",
                    time:       {
                
                        tooltipFormat: 'll'
                    },
                    scaleLabel: {
                        display:     true,
                        labelString: 'Time'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display:     true,
                        labelString: 'value'
                    }
                }]
            }


          }
        });

      </script>


{% endblock %}